numpy
pandas
openpyxl

# Plot
seaborn==0.11.2
matplotlib
plottable
hdf5storage

lifelines

torch
torchvision
torchaudio

shap

scikit-learn-intelex
scikit-learn

hyperopt
xgboost
lightgbm
pytorch-tabnet


tabgan

jupyter_contrib_nbextensions
floweaver
ipysankeywidget

Pillow

statannotations
statsmodels